<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Bitcoin Arbitrage</h3>
</div>

<div class="row" ng-controller="MainCtrl">
  <table class="table">
    <tr>
      <th>Profit</th>
      <th></th>
      <th>Buy</th>
      <th>Sell</th>
      <th>Volume</th>
    </tr>
    <tr ng-repeat="opp in opportunities">
      <td>{{ opp.profit | number:2 }}</td>
      <td>{{ opp.perc | number:2 }}%</td>
      <td>{{ opp.buyprice | number:2 }} @ {{ opp.kbid }}</td>
      <td>{{ opp.sellprice | number:2 }} @ {{ opp.kask }}</td>
      <td>{{ opp.volume}}</td>
    </tr>
    </row>
  </table>
</div>

<div class="footer">
  <p>♥ from the  <a href="http://www.meetup.com/AngularJS-Silicon-Valley/events/166270732">AngularJS hackathon</a> at Sand Hill Road</p>
</div>
